body{
    margin: 0%;
}
.firstsec{
    background-color: #ffafbd;
}
.flexible-content{
    display: flex;
    margin-bottom: 50px;
}
.right-side{
    width: 50%;
    padding: 10px 10px 10px 100px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.logoColour{
    color: #CE375C;
}
.left-side{
    width: 35%;
    padding: 30px 30px;
    margin: 10px 20px;
}
.leftbox{
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 30px #ccc;
    background: white;
    padding: 10px;
    border-radius: 18px;
    margin: 5px 5px;
}
.alada{
    width: 50%;
    padding-left: 30px;
}
.alada img{
    width: 80%;
    padding-left: 128px;
}
.font{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}
.anchorcolor{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-image: linear-gradient(#ffafbd, #ce375c);
    padding: 10px 30px;
    border-radius: 20px;
}
.thirdsec{
    margin-bottom: 50px;
    background-image: url(Images/background1.jpg);
}
.aboutme{
    width: 50%;
    padding-left: 50px;
    font-size: 30px;
}
.aboutme img{
    width: 70%;
}
.middletext{
    text-align: center;
}
.box-content{
    width: 250px;
    box-shadow: 4px 4px 20px #ccc;
    border-radius: 30px;
    padding: 16px 16px;
    margin: 20px 100px;
}
.box-content img{
    width: 100%;
    border-radius: 20px;
}
.last-sec{
    background-color: #ffafbd;
    text-align: center;
}
.Middle{
    font-family: 'Lobster', cursive;
}

   /* Mobile device  */

@media only screen and (max-width:480px) {
    .flexible-content{
        display: flex;
        margin-bottom: 40px;
    }
    .right-side{
        width: 25%;
        padding: 4px 0px 10px 5px;
        font-family: 'Lobster', cursive;
        font-size: 20px;
    }
    .left-side{
        display: inline-flex;
        width: 50%;
        padding: 30px 0;
        padding-left: 20px;
        margin: 10px 5px;
    }
    .leftbox{
        text-decoration: none;
        color: black;
        box-shadow: 5px 5px 20px #ccc;
        background: white;
        padding: 8px;
        border-radius: 18px;
        margin: 5px 5px;
    }
}